@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

#navbar {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  max-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
}

.nav-link.header {
  font-size: 1.5em;
  border-bottom: 1px solid rgba(0, 22, 22, 0.4);
  position: fixed;
}

.nav-link {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 22, 22, 0.4);
}

.content {
  padding: 30px;
  width: 70%;
  margin-left: 300px;
}

.header {
  font-size: 1.8em;
}

p.doc {
  color: #807171;
  margin-left: 1em;
}

li.doc {
  color: #807171;
  margin: 1em 2em 1em 2em;
}
