@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");

#main.documentation {
  display: grid;
  grid-template-columns: 30% 70%;
}

.nav {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: blue;
}
