#main-shop {
  background-color: #f7f7f7;
  position: relative;
}

.img-logo {
  width: 60vw;
}

#header {
  padding: 20px 40px;
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-around;
  position: fixed;
  top: 0;
}

#nav-bar ul {
  display: flex;
  width: 32vw;
  justify-content: space-around;
}

#header-logo {
  width: 400px;
  height: 50px;
}

#nav-bar li {
  list-style: none;
  text-decoration: none;
}

#nav-bar a {
  text-decoration: none;
  color: #130e0e;
}

#content-shop {
  text-align: center;
  margin-top: 5.8em;
}
